.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hoopersorange {
  background-color:#d48832;

}


a {
  color:black;
  font-weight:lighter;
}
a:hover {
  text-decoration: none;
  border-bottom: 0.25px solid black;
  padding-right: 80px;
  width: 300px;
  transition: 0.3s
}

button:hover {
color:blue;
}

